[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	email = zddhub@gmail.com
	name = zdd
[github]
	user = zddhub
[alias]
  co = checkout
  c = commit -v
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
  pb = "!git push origin \"$(git rev-parse --abbrev-ref HEAD)\""
  db = "!git push origin :\"$(git rev-parse --abbrev-ref HEAD)\""
  pbf = "!git push -f origin \"$(git rev-parse --abbrev-ref HEAD)\""
  up = "!git pull --rebase origin \"$(git rev-parse --abbrev-ref HEAD)\""
  pr = "pull-request"
  hub = "browse"
  i = "issue"
  ic = "issue create"
  cis = "ci-status"
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
